:root {
    --base-color: #fff;
    --primary-color: #a1c74b;
    --secondary-color: #2596be;
}

@font-face {
    font-family: rickAndMorty;
    src: url(../fonts/get_schwifty.ttf);
}

@font-face {
    font-family: regularShallowGrave;
    src: url(../fonts/shallowgrave-bb.regular.ttf);
}

@keyframes morph{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }

html {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    background: url(../images/swirlback.png) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

header, 
footer {
    display: flex; 
    justify-content: center;
    padding: 24px;
}

span {
    color: var(--base-color);
    font-size: 0.9em;
}
main {
    align-items: center;
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    justify-content: space-between;
}

.btn {
    background-color: var(--base-color);
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 16px;
    text-shadow: 0 1px var(--primary-color), 0 2px var(--base-color);
}

.search-field {
    width: 240px;
}

.circle-image {
    animation: morph 3s linear infinite;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    height: 200px;
    overflow: hidden;
    visibility: hidden;
    width: 200px;
}

.show-circle {
    visibility: initial;
}

.image {
    width: 100%;
}

.character-name {
    color: var(--secondary-color);
    font-family: rickAndMorty;
    font-size: 3em; 
    text-shadow: -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color), 1px -1px 0 var(--base-color), -1px -1px 0 var(--base-color);
}

.information-container {
    align-items: center;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    font-family: regularShallowGrave;
    font-size: 2em; 
    padding: 16px;
    text-shadow: -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color), 1px -1px 0 var(--base-color), -1px -1px 0 var(--base-color);
}

@media screen and (max-width:768px) {

    .header-logo {
        width: 300px;
    }

    .character-name {
        font-size: 2em; 
    }
}